html {
  background-color: #120F0E
}

.hamnav {
  width: 100%;
  position: sticky;
  top: 0;
}

.hamnav label,
#hamburger {
  display: none;
}

#hamburger {
  border: 1px solid black;
}

.languageContainer {
  display: flex;
}

.languageContainer a {
  padding: 0.5rem 0.5rem;
  text-decoration: none;
}

.welcome{
  margin-bottom: 6rem; 
}

p,
h1,
h2,
span,
#answerDiv {
  color: #ffffff;
}

#textSpan{
  font-size: 2rem;
}

#answerDiv {
  margin-top: 2rem;
}

button{
  outline: none;
  border: none;
  height: 2rem;
  font-size: 1rem;
  border-radius: .2rem;
}

body {
  margin: 0;
  font-family: arial, sans-serif;
}

main {
  padding: 20px;
  text-align: center;
}

.inputAndButtonsDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#input{
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 2rem;
  width: 20rem;
}

#button{
  width: 8rem;
  background-color: #008000;
}

#next{
  background-color: #b20000;
}

.wrong {
  color: red;
}

.correct {
  color: green;
}
@media screen and (max-width: 700px) {
  .hamnav label {
    display: inline-block;
    color: white;
    background: #b20000;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
    width: 1rem;
  }

  .languageContainer a {
    background-color: rgba(255, 255, 255, 0.151);
    box-sizing: border-box;
    display: block;
    width: 100%;
  }

  .languageContainer {
    display: none;
  }

  .hamnav input:checked ~ #languageContainer {
    display: block;
  }

}

